body{
    border: 0;
    margin: 0;
    background-image: url("../img/bg-img.jpeg");
    background-attachment: fixed;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.div-img{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-flow: column;
}
.img-4{
    margin: 100px;
    border-radius: 1em;
}
