
.box1{
    position: relative;
    top: -220px;
    margin-bottom: 0;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0px;
}
.box2{
    position: relative;
    top: -340px;
    margin-top: 200px;
    padding: 0px;
    z-index: -1;
}
.box3{
    margin-top: 60px;
    padding: 0px;
}
.boxintro1{
    position:absolute;
    right: 825px;
    top: -300px;
    margin-top: 350px;
    padding:0px;
}
.boxintro2{
    position:absolute;
    left: 825px;
    top: -300px;
    margin-top: 350px;
    padding:0px;
}
.boxintro3{
    position:absolute;
    left: 18%;
    top: -300px;
    margin-top: 350px;
    padding:0px;
}
.boxintro4{
    position:absolute;
    left: 18%;
    top: 740px;
    margin-top: 350px;
    padding:0px;
}
.boxintro5{
    position:absolute;
    left: 2%;
    top: -300px;
    margin-top: 350px;
    padding:0px;
}
.boxintro6{
    position:absolute;
    left: 35%;
    top: -300px;
    margin-top: 350px;
    padding:0px;
}
.boxintro7{
    position:absolute;
    left: 68%;
    top: -300px;
    margin-top: 350px;
    padding:0px;
}
.boxintro8{
    position:absolute;
    left: 10%;
    top: 400px;
    margin-top: 350px;
    padding:0px;
}
